body {
  margin: 0px;
}

.image {
  width: 100%;
  overflow: hidden;
  margin-left: 0%;
  margin-right: auto;
}
.image-overlay {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  color: #ffffff;
  text-decoration: none;
  padding-right: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 43px;
}
.math {
  position: absolute;
  top: 8%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  text-align: center;
  padding: 10px;
  color: #ffff;
  text-decoration: none;
  padding-right: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
}
span:hover {
  background-color: #f07e35;
}

#Devsubmit {
  aspect-ratio: 640/480;
  background: linear-gradient(52.41deg, #f08134 -2.12%, #f8b12a 94.26%);
  width: 70%;
  padding-top: 4%;
}
#img_voucher{
  margin-bottom: -13.8%;
}

#student {
   aspect-ratio: 799/529.5;
}

#Devsubmit2 {
  aspect-ratio: 875/623;
  background: linear-gradient(52.41deg, #f08134 -2.12%, #f8b12a 94.26%);
  width: 100%;
  margin-right: 5%;
  border-radius: 20px;
  height: 360px;
  padding-top: 16%;
}

#map {
  padding-left: 5%;
  margin-right: 5%;
  height: 550px;
}

.txttitle {
  width: 75%;
  aspect-ratio: 718 / 50;
  margin-left: 9.2%;
  margin-bottom: 1.5%;
  font-size: 25px;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  color: #ffffff;
}

.txtfield {
  width: 75%;
  aspect-ratio: 718 / 94;
  margin-left: 9.2%;
  margin-bottom: 3%;
  /* padding-left: 20px; */
  font-size: 25px;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  color: #000000;
  border-radius: 2vw;
  border: none;
}

.submitbtn {
  text-align: center;
  width: 80%;
  aspect-ratio: 712/127;
  margin-left: 9%;
  margin-top: 3.6%;
  border: none;
  background: #4fbb84;
  border-radius: 5.2vw;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  color: #ffffff;
}

#submitbtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#videobgr {
  position: absolute;
  width: 100%;
}

#videofold {
  aspect-ratio: 960 / 843;
  position: relative;
  margin: auto;
}

#videodemo {
  aspect-ratio: 917 / 519;
  margin-left: 2.5%;
  margin-top: 23%;
  margin-bottom: 1.7%;
  width: 95%;
}

#vidurl {
  overflow: auto;
  width: 67.2%;
  margin-left: 15%;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  line-height: 5.1vw;
  text-align: center;
  text-decoration-line: underline;
  font-size: 3.8vw;
  color: #000000;
}

#alert {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#loadingAl {
  position: relative;
  margin: auto;
  margin-top: 10%;
  padding-top: 6.23vw;
  padding-left: 4vw;
  padding-right: 4vw;
  width: 250px;
  height: 250px;
  aspect-ratio: 730/500;
  background-color: white;
  box-shadow: 0px 0.41vw 1.77vw 0.41vw rgba(0, 0, 0, 0.25);
  border-radius: 5.2vw;
  font-size: 35px;
}

.loader {
  position: relative;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  margin-left: 35%;
  margin-top: 10%;
  width: 30%;
  aspect-ratio: 1/1;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#sucessAl {
  margin: auto;
  margin-top: 20%;
  padding-top: 20px;
  padding-left: 4vw;
  padding-right: 4vw;
  width: 300px;
  height: 170px;
  aspect-ratio: 730/500;
  background-color: white;
  box-shadow: 0px 0.41vw 1.77vw 0.41vw rgba(0, 0, 0, 0.25);
  border-radius: 5.2vw;
  font-size: 25px;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  text-align: center;
  color: black;
}
#goToMap {
  max-width: 230px;
  aspect-ratio: 485/113;
 margin-left: 28.5%;
  margin-bottom: 6%;
  padding-top: 2%;
  font-size: 35px;
  color: white;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  background: linear-gradient(180deg, #f07e35 0%, #f8b12a 100%);
  border-radius: 26px;
}

#alBtn {
  margin: auto;
  margin-top: 3vw;
  width: 120px;
  aspect-ratio: 260/85;
  background: #4fbb84;
  border-radius: 5.2vw;
  padding-top: 1vw;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

/* CSS Destop */
@media only screen and (min-width: 920px) {
  body {
    width: 920px;
    margin: auto;
  }
#img_voucher {
    margin-bottom: -12.2%;
  }
  .txttitle {
    width: 85%;
    aspect-ratio: 700 / 60;
  }

  .txtfield {
    border-radius: 10px;
    width: 85%;
    aspect-ratio: 700 / 60;
  }

  .submitbtn {
    font-size: 20px;
    border-radius: 20px;
    width: 85%;
    aspect-ratio: 700 / 80;
  }

  #goToMap {
    padding-top: 4%;
    font-size: 25px;
    border-radius: 6.25vw;
  }
  #vidurl {
    line-height: 22px;
    font-size: 2.5vw;
  }

  #loadingAl {
    margin-top: 10%;
    padding-top: 27px;
    padding-left: 17px;
    padding-right: 17px;
    width: 220px;
    height: 200px;
    box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
  }

  #sucessAl {
    margin: auto;
    margin-top: 10%;
    padding-top: 27px;
    padding-left: 17px;
    padding-right: 17px;
    width: 319px;
    box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    font-size: 22px;
  }

  #alBtn {
    margin: auto;
    margin-top: 9px;
    width: 113px;
    border-radius: 22px;
    padding-top: 4px;
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  body {
    width: 768px;
    margin: auto;
  }
  #img_voucher {
   max-width: 768px;
    margin-top: 4%;
  }
  #map img {
    max-width: 100%;
    overflow: hidden;
  }
  #lienhe img {
    max-width: 100%;
  }
  #Devsubmit2 {
    overflow: hidden;
    max-width: 100%;
    text-align: center;
  }
  #student {
    display: none;
  }
  #Devsubmit {
    width: 100%;
    text-align: center;
    /* padding-right: 90px; */
  }

  .image-overlay {
    display: none;
  }
  .math {
    display: none;
  }
  .text p{
    margin-left: 10%;
    text-align: center;
    width: 400px;
    font-size: 15px;
  }
  .footer-logo img {
    margin-left: 10%;
  }
}
