body {
    margin: 0px;
}

.image {
    width: 100%;
    overflow: hidden;
    margin-left: 0%;
    margin-right: auto;
}


#Devsubmit {
    aspect-ratio: 875/623;
    background: linear-gradient(52.41deg, #F08134 -2.12%, #F8B12A 94.26%);
    border-radius: 6vw;
    margin-left: 4.4%;
    margin-bottom: 10%;
    width: 91.2%;
    padding-top: 5%;
}

.txttitle {
    width: 82%;
    aspect-ratio: 718 / 50;
    margin-left: 9.2%;
    margin-bottom: 1.5%;
    font-size: 4vw;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    color: #FFFFFF;
}

.txtfield {
    width: 82%;
    aspect-ratio: 718 / 94;
    margin-left: 9.2%;
    margin-bottom: 3%;
    padding-left: 10px;
    font-size: 4.2vw;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    color: #000000;
    border-radius: 2vw;
    border: none;
}


.submitbtn {
    width: 82%;
    aspect-ratio: 712/127;
    margin-left: 9.2%;
    margin-top: 3.6%;
    border: none;
    background: #4FBB84;
    border-radius: 5.2vw;
    font-family: 'Montserrat';
    font-size: 3.8vw;
    font-style: italic;
    font-weight: 700;
    color: #FFFFFF;
}

#submitbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}



#videobgr {
    position: absolute;
    width: 100%;
}

#videofold {
    aspect-ratio: 960 / 843;
    position: relative;
    margin: auto;
}

#videodemo {
    aspect-ratio: 917 / 519;
    margin-left: 2.5%;
    margin-top: 23%;
    margin-bottom: 1.7%;
    width: 95%;
}

#vidurl {
    overflow: auto;
    width: 67.2%;
    margin-left: 15%;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    line-height: 5.1vw;
    text-align: center;
    text-decoration-line: underline;
    font-size: 3.8vw;
    color: #000000;
}

.popup {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#popupcontent {
    position: relative;
    top: 20%;
    left: 32%;
    background: #fff;
    width: 36%;
    aspect-ratio: 507/347;
    border-radius: 1.38vw;
    box-shadow: 0px 0.27vw 0.27vw rgba(0, 0, 0, 0.25);
}

h2 {
    position: relative;
    text-align: center;
    font-family: 'Montserrat';
    padding-top: 8vw;
    font-weight: 500;
    font-size: 1.6vw;
    font-style: italic;
    color: #000000
}

h4 {
    text-align: center;
    font-family: 'Montserrat';
    margin-top: -1vw;
    margin-left: 2.36vw;
    margin-right: 1.38vw;
    font-weight: 500;
    font-size: 1.6vw;
    font-style: italic;
    color: #000000
}

.button-2 {
    position: absolute;
    width: 12vw;
    height: 4.1vw;
    left: 11.3vw;
    bottom: 2.2vw;
    background-color: #4FBB84;
    border-radius: 1.38vw;
    border-width: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat";
    font-size: 1.38vw;
    font-weight: 700;
    line-height: 2.2vw;
    list-style: none;
    margin: 0;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.xbtn {
    position: absolute;
    right: 1.38vw;
    top: 1.38vw;

}

.loader {
    position: absolute;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    margin-left: 35%;
    margin-top: 10%;
    width: 30%;
    aspect-ratio: 1/1;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* CSS Destop */
@media only screen and (min-width:960px) {
    body {
        width: 960px;
        margin: auto;
    }

    #Devsubmit {
        border-radius: 58px;
    }

    .txttitle {
        font-size: 37px;
    }

    .txtfield {
        font-size: 39px;
        border-radius: 20px;
    }

    .submitbtn {
        border-radius: 50px;
        font-size: 37px;
    }

    #vidurl {
        line-height: 49.73px;
        font-size: 37px;
    }
}