* {
  box-sizing: border-box;
}

@font-face {
  font-family: "FS Magistral";
  src: url("FSMagistralBoldItalic.woff2") format("woff2"),
    url("FSMagistralBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FS Magistral";
  src: url("FSMagistralBoldItalic.woff2") format("woff2"),
    url("FSMagistralBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

body {
  margin: auto;
}

.imgContent {
  position: relative;
  width: 100%;
}

.goToRes {
  position: absolute;
  width: 420px;
  font-size: 15px;
}

.goToResBtn {
  margin: auto;
  padding-top: 2.3%;
  font-size: 100%;
  color: white;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  background: linear-gradient(180deg, #f07e35 0%, #f8b12a 100%);
  height: 9.3%;
  border-radius: 26px;
}

.submitForm {
  position: relative;
  width: 90%;
  aspect-ratio: 876/888;
  margin-left: 5%;
  font-size: 22px;
  border-radius: 11px;
  background: #ffffff;
  box-shadow: 0px 6px 14px 4px rgba(0, 0, 0, 0.25);
  padding-top: 8%;
  font-family: "Montserrat";
  font-weight: 500;
}
/* #vocher {
   width: 90%;
  margin-left: 5%;
  margin-top: -9%;
} */
#tientrinh_image {
            overflow-x:auto;
            overflow-y:hidden;
}
.submitTitle {
  position: relative;
  color: #f08234;
  text-align: center;
  font-weight: 600;
}

.textField {
  position: relative;
  aspect-ratio: 720/106;
  font-size: 80%;
  width: 80%;
  margin-left: 10%;
  margin-top: 4.8%;
  background: #f0f0f0;
  padding-left: 2.1%;
  border-radius: 4px;
  border: none;
}

.checkList {
  margin-left: 13.5%;
  margin-top: 6.5%;
}

.submitButton {
  position: relative;
  width: 80%;
  margin-top: 6%;
  margin-left: 10%;
  background: linear-gradient(180deg, #f07e35 0%, #f8b12a 100%);
  border-radius: 26px;
  border: none;
  aspect-ratio: 724/113;
  font-size: 100%;
  font-weight: 600;
  color: #ffffff;
}

#submitButton:hover {
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#goToMap {
  width: 50%;
  aspect-ratio: 485/113;
  margin: auto;
  margin-bottom: 6%;
  padding-top: 1.35%;
  font-size: 15px;
  color: white;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  background: linear-gradient(180deg, #f07e35 0%, #f8b12a 100%);
  border-radius: 26px;
}



.detail-item {
  width: 100%;
  margin: auto;
  padding: auto;
  padding-top: 4%;
  aspect-ratio: 880/136;
  background: #272660;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  font-family: "Nunito";
  font-weight: 900;
  color: white;
  font-size: 20px;
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 1px;
  background-color: #cbcbcb;
  border: 2px solid #a29b9b;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: white;
}

.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  border-radius: 0 3px 3px 0;
color: #545354;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  margin-top: -22px;
  padding: 16px;
  position: absolute;
  top: 50%;
  transition: 0.6s ease;
  user-select: none;
  width: auto;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(188, 247, 11, 0.8);
}

.prev:hover,
.next:hover {
 background-color: rgba(188, 247, 11, 0.8);
}

.dot {
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 0 2px;
  transition: background-color 0.6s ease;
  width: 15px;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* slide */

#alert {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#loadingAl {
  position: relative;
  margin: auto;
  margin-top: 10%;
  padding-top: 27px;
  padding-left: 17px;
  padding-right: 17px;
  width: 319px;
  aspect-ratio: 730/500;
  background-color: white;
  box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}

.loader {
  position: relative;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  margin-left: 35%;
  margin-top: 10%;
  width: 30%;
  aspect-ratio: 1/1;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#sucessAl {
  margin: auto;
  margin-top: 10%;
  padding-top: 27px;
  padding-left: 17px;
  padding-right: 17px;
  width: 319px;
  aspect-ratio: 730/500;
  background-color: white;
  box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: black;
}

#alBtn {
  margin: auto;
  margin-top: 9px;
  width: 114px;
  aspect-ratio: 260/85;
  background: #4fbb84;
  border-radius: 22px;
  padding-top: 4px;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}

@media only screen and (min-width: 420px) {
.desktop {
  margin: 0 auto;
}
.mobile{
  display: none;
}
.submitForm {
  display: none;
}

  #hook {
    display: none;
  }

  #quytrinh {
    display: none;
  }

  #tientrinh1 {
   display: none;
  }

 #tientrinh_left {
    display: none;
  }
  #tientrinh_right {
    display: none;
  }

  #tientrinh3 {
     display: none;
  }

  #quyenloi {
     display: none;
  }

  #teamIntro {
   display: none;
  }


  #aboutToroticCourse {
   display: none;
  }

  #registerCourse {
     display: none;
  }

  #footer {
    display: none;
  }
  .thongbao {
    display: none;
  }
 .home {
    position: absolute;
    top: 5%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
    padding-right: 60px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 43px;
  }
  .math {
    position: absolute;
    top: 5%;
    right: 10%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    color: #ffff;
    text-decoration: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
  }
  #tile-form{
    margin-top: -35%;
  }

.submitForm_desktop{
  position: relative;
  padding-right: 1%;
  width: 28%;
  aspect-ratio: 876/888;
  margin-left: 60%;
  border-radius: 11px;
  background: #ffffff;
  box-shadow: 0px 6px 14px 4px rgba(0, 0, 0, 0.25);
  padding-top: 2%;
  font-family: "Montserrat";
  font-weight: 500;
}
#voucher img {
  width: 104%;
  margin-bottom: -3%;
}
.tile-hocvien{
  margin-top: 5%;
}
.tile-hocvien img{
  margin-top: 5%;
  width: 80%;
margin-left:10% ;
}
.sub-footer{
  margin-top: 4%;
}
.footer-form{
   width: 80%;
margin-left:10% ;
margin-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.submitForm_footer{
 position: relative;
  padding-right: 1%;
  width: 80%;
  aspect-ratio: 876/888;
  margin-left: 5%;
  border-radius: 11px;
  background: #ffffff;
  box-shadow: 0px 6px 14px 4px rgba(0, 0, 0, 0.25);
  padding-top: 2%;
  font-family: "Montserrat";
  font-weight: 500;
  color:#F08234 ;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.submitButton{
  margin-bottom: 3%;
}
.submitForm_footer h3{
  text-align: center  ;
}
#voucher1 img {
width: 101.4%;
  margin-bottom: -2%;
}
#goToMap {
  width: 40%;
  aspect-ratio: 485/113;
  margin: auto;
  margin-bottom: 6%;
  padding-top: 1.35%;
  font-size: 25px;
  color: white;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  background: linear-gradient(180deg, #f07e35 0%, #f8b12a 100%);
  border-radius: 26px;
}
#sucessAl {
  margin: auto;
  margin-top: 10%;
  padding-top: 27px;
  padding-left: 17px;
  padding-right: 17px;
  width: 319px;
  aspect-ratio: 730/500;
  background-color: white;
  box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: black;
}

#alBtn {
  margin: auto;
  margin-top: 9px;
  width: 114px;
  aspect-ratio: 260/85;
  background: #4fbb84;
  border-radius: 22px;
  padding-top: 4px;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
} 
#alert {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#loadingAl {
  position: relative;
  margin: auto;
  margin-top: 10%;
  padding-top: 27px;
  padding-left: 17px;
  padding-right: 17px;
  width: 319px;
  aspect-ratio: 730/500;
  background-color: white;
  box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}

.loader {
  position: relative;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  margin-left: 35%;
  margin-top: 10%;
  width: 30%;
  aspect-ratio: 1/1;
  animation: spin 2s linear infinite;
}

}

/* CSS Mobile */
@media only screen and (max-width: 420px) {
.mobile{
  margin: 0 auto;
}

.desktop{
  display: none;
}

  #hook {
    content: url("../media/mathHook.png");
  }

  #submitForm1 {
    width: 100%;
    margin-top: -10%;
  }
 
  #quytrinh {
    content: url("../media/quytrinh.png");
  }

  #tientrinh1 {
    content: url("../media/tientrinh1.png");
  }

  

  #tientrinh3 {
    content: url("../media/tientrinh3.png");
  }

  #teamIntro {
    content: url("../media/teamIntro.png");
  }

  #registerCourse {
    content: url("../media/registerCourse1.png");
  }

  #goToMap {
    margin-top: 5%;
    font-size: 3.64vw;
    border-radius: 6.25vw;
  }

  #goToMath {
    border-radius: 4.3vw;
  }

 
  #phone {
    content: url("../media/phone.png");
  }
  #footer {
    content: url("../media/footer.png");
  }

  .goToRes {
    width: 100%;
    font-size: 3.6vw;
  }

  .goToResBtn {
    border-radius: 6.25vw;
  }

  .detail-item {
    box-shadow: 0px 1.1vw 0.8vw rgba(0, 0, 0, 0.25);
    font-size: 4.68vw;
  }

  .dot {
    height: 3.6vw;
    width: 3.6vw;
    margin: 0 0.2vw;
    border: 0.4vw solid #a29b9b;
  }

  #loadingAl {
    margin-top: 55%;
    padding-top: 6.45vw;
    padding-left: 4vw;
    padding-right: 4vw;
    width: 75vw;
    box-shadow: 0px 0.41vw 1.77vw 0.41vw rgba(0, 0, 0, 0.25);
    border-radius: 5.2vw;
    font-size: 5.2vw;
  }

  #sucessAl {
    margin-top: 55%;
    padding-top: 6.45vw;
    padding-left: 4vw;
    padding-right: 4vw;
    width: 75vw;
    box-shadow: 0px 0.41vw 1.77vw 0.41vw rgba(0, 0, 0, 0.25);
    border-radius: 5.2vw;
    font-size: 5.2vw;
  }

  #alBtn {
    margin-top: 3vw;
    width: 27vw;
    border-radius: 5.2vw;
    padding-top: 1vw;
    font-size: 5.2vw;
  }

  .submitForm {
    margin-top: 4%;
    font-size: 5.2vw;
    border-radius: 2.6vw;
    box-shadow: 0vw 1.46vw 3.33vw 0.83vw rgba(0, 0, 0, 0.25);
  }

  .textField {
    border-radius: 1.06vw;
  }
  .thongbao_desktop{
    display: inline-block;
  }
}