* {
    box-sizing: border-box;
}


@font-face {
    font-family: 'FS Magistral';
    src: url('FSMagistralBoldItalic.woff2') format('woff2'),
        url('FSMagistralBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS Magistral';
    src: url('FSMagistralBoldItalic.woff2') format('woff2'),
        url('FSMagistralBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

body {
    margin: auto;
}

.imgContent {
    position: relative;
    width: 100%;

}

.goToCourse {
    position: absolute;
    width: 960px;
    margin-top: -140px;
    font-size: 35px;
}

#goToMap {
    width: 50%;
    aspect-ratio: 485/113;
    margin: auto;
    margin-bottom: 6%;
    padding-top: 1.35%;
    font-size: 35px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    background: linear-gradient(180deg, #F07E35 0%, #F8B12A 100%);
    border-radius: 60px;
}

.goToRes {
    position: absolute;
    width: 960px;
    font-size: 35px;
}

.goToResBtn {
    margin: auto;
    padding-top: 2.3%;
    font-size: 100%;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    background: linear-gradient(180deg, #F07E35 0%, #F8B12A 100%);
    height: 9.3%;
    border-radius: 60px;
}

.submitForm {
    position: relative;
    width: 90%;
    aspect-ratio: 876/888;
    margin-left: 5%;
    font-size: 50px;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px 14px 32px 8px rgba(0, 0, 0, 0.25);
    padding-top: 8%;
    font-family: 'Montserrat';
    font-weight: 500;
}

.submitTitle {
    position: relative;
    color: #F08234;
    text-align: center;
    font-weight: 600;

}

.textField {
    position: relative;
    aspect-ratio: 720/106;
    font-size: 80%;
    width: 80%;
    margin-left: 10%;
    margin-top: 4.8%;
    background: #F0F0F0;
    padding-left: 2.1%;
    border-radius: 10px;
    border: none;
}

.checkList {
    margin-left: 13.5%;
    margin-top: 6.5%;
}

.submitButton {
    position: relative;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    background: linear-gradient(180deg, #F07E35 0%, #F8B12A 100%);
    border-radius: 60px;
    border: none;
    aspect-ratio: 724/113;
    font-size: 100%;
    font-weight: 600;
    color: #FFFFFF;
}

#submitButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.detail-item {
    width: 90%;
    margin: auto;
    padding: auto;
    padding-top: 4%;
    aspect-ratio: 880/136;
    background: #272660;
    box-shadow: 0px 11px 8px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito';
    font-weight: 900;
    color: white;
    font-size: 45px;
    text-align: center;

}

.dot {
    height: 35px;
    width: 35px;
    margin: 0 2px;
    background-color: #CBCBCB;
    border: 4px solid #A29B9B;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: white;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

#alert {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#loadingAl {
    position: relative;
    margin: auto;
    margin-top: 10%;
    padding-top: 62px;
    padding-left: 40px;
    padding-right: 40px;
    width: 730px;
    aspect-ratio: 730/500;
    background-color: white;
    box-shadow: 0px 4px 17px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.loader {
    position: relative;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    margin-left: 35%;
    margin-top: 10%;
    width: 30%;
    aspect-ratio: 1/1;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#sucessAl {
    margin: auto;
    margin-top: 10%;
    padding-top: 62px;
    padding-left: 40px;
    padding-right: 40px;
    width: 730px;
    aspect-ratio: 730/500;
    background-color: white;
    box-shadow: 0px 4px 17px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    color: black;
}

#alBtn {
    margin: auto;
    margin-top: 20px;
    width: 260px;
    aspect-ratio: 260/85;
    background: #4FBB84;
    border-radius: 50px;
    padding-top: 10px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

@media only screen and (min-width:960px) {
    body {
        width: 960px;
    }

    #hook {
        content: url("../media/mathHook.png");
    }

    #hook1 {
        content: url("../media/hook1.png");
    }

    #hook2 {
        content: url("../media/hook2.png");
    }

    #lotrinh {
        content: url("../media/lotrinh.png");
    }

    #loiich {
        content: url("../media/loich.png");
    }

    #aboutMath {
        content: url("../media/aboutMath.png");
    }

    #aboutDev {
        content: url("../media/aboutDev.png");
    }

    #teamIntro {
        content: url("../media/teamIntro.png");
    }

    #teachingMethod {
        content: url("../media/teachingMethod.png");
    }

    #aboutToroticCourse {
        content: url("../media/aboutToroticCourse.png");
    }

    #registerCourse {
        content: url("../media/registerCourse.png");
    }

    #footer {
        content: url("../media/footer.png");
    }
}


/* CSS Mobile */
@media only screen and (max-width:959px) {
    body {
        margin: 0px;
    }

    #hook {
        content: url("../media/mathHook.png");
    }

    #submitForm1 {
        width: 100%;
        margin-top: -25%;
    }

    #lotrinh {
        content: url("../media/lotrinh.png");
    }

    #loiich {
        content: url("../media/loich.png");
    }

    #aboutMath {
        content: url("../media/aboutMath.png");
    }

    #aboutDev {
        content: url("../media/aboutDev.png");
    }

    #teamIntro {
        content: url("../media/teamIntro.png");
    }

    #teachingMethod {
        content: url("../media/teachingMethod.png");
    }

    #aboutToroticCourse {
        content: url("../media/aboutToroticCourse.png");
    }

    #registerCourse {
        content: url("../media/registerCourse.png");
    }

    #footer {
        content: url("../media/footer.png");
    }

    #goToMap {
        font-size: 3.64vw;
        border-radius: 6.25vw;

    }

    .goToCourse {
        width: 100%;
        margin-top: -14.6%;
        font-size: 3.6vw;
    }

    #goToMath {
        border-radius: 4.3vw;
    }

    #goToDev {
        border-radius: 4.3vw;
    }

    .goToRes {
        width: 100%;
        font-size: 3.6vw;
    }

    .goToResBtn {
        border-radius: 6.25vw;
    }

    .detail-item {

        box-shadow: 0px 1.1vw 0.8vw rgba(0, 0, 0, 0.25);
        font-size: 4.68vw;

    }

    .dot {
        height: 3.6vw;
        width: 3.6vw;
        margin: 0 0.2vw;
        border: 0.4vw solid #A29B9B;
    }


    #loadingAl {
        margin-top: 55%;
        padding-top: 6.45vw;
        padding-left: 4vw;
        padding-right: 4vw;
        width: 75vw;
        box-shadow: 0px 0.41vw 1.77vw 0.41vw rgba(0, 0, 0, 0.25);
        border-radius: 5.2vw;
        font-size: 5.2vw;
    }

    #sucessAl {
        margin-top: 55%;
        padding-top: 6.45vw;
        padding-left: 4vw;
        padding-right: 4vw;
        width: 75vw;
        box-shadow: 0px 0.41vw 1.77vw 0.41vw rgba(0, 0, 0, 0.25);
        border-radius: 5.2vw;
        font-size: 5.2vw;
    }

    #alBtn {
        margin-top: 3vw;
        width: 27vw;
        border-radius: 5.2vw;
        padding-top: 1vw;
        font-size: 5.2vw;
    }

    .submitForm {
        font-size: 5.2vw;
        border-radius: 2.6vw;
        box-shadow: 0vw 1.46vw 3.33vw 0.83vw rgba(0, 0, 0, 0.25);
    }

    .textField {
        border-radius: 1.06vw;
    }

}