body {
    margin: 0px;
}

.imageM {
    width: 90%;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
}

.txtMfield {
    width: 75vw;
    aspect-ratio: 718 / 94;
    margin-left: 8vw;
    font-size: 4.2vw;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    color: #000000;
    border-radius: 2vw;
    border: none;
}